<section class="home" 
    [ngStyle]="{
        'background-size': 'cover',
        'background-position': 'center center',
        'background': 'linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url( '+currentBackground+' )'
    }"
>
    <div class="home-text">
        <h6>Article du jour</h6>
        <h1>{{ dailyArticle.label }}</h1>
        <p>GAr <strong class="price">{{ dailyArticle.price | number }}</strong></p>
        <a href="#" class="btn">
            Voir
            <i class="ri-arrow-right-line"></i>
        </a>
    </div>
</section>
<!-- <section class="home" 
    [ngStyle]="{
        'background-size': 'cover',
        'background-position': 'center center',
        'background': 'linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url( '+currentBackground+' )'
    }"
>
    <div class="home-text">
        <h6>Article du jour</h6>
        <h1>Darksword</h1>
        <p>GAr <strong class="price">100.000</strong></p>
        <a href="#" class="btn">
            Voir
            <i class="ri-arrow-right-line"></i>
        </a>
    </div>
</section> -->