.copyright{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 14% 20px;
}

.end-text p{
    font-size: 15px;
}

.end-img img{
    width: 100%;
    height: auto;
    cursor: pointer;
}