<section class="selling">
    <div class="center-text">
        <h2>Les Plus Populaires</h2>
    </div>

    <div class="selling-content">
        <div class="col">
            <div class="col-img">
                <img src="" onerror="this.onerror=null; this.src='gondorDefault.jpg'" >
            </div>
            <div class="col-icon">
                <a href="#"><i class="ri-heart-3-line"></i></a>
                <a href="#"><i class="ri-eye-line"></i></a>
                <a href="#"><i class="ri-shopping-cart-line"></i></a>
            </div>
        </div>
        <div class="col">
            <div class="col-img">
                <img src="" onerror="this.onerror=null; this.src='gondorDefault.jpg'" >
            </div>
            <div class="col-icon">
                <a href="#"><i class="ri-heart-3-line"></i></a>
                <a href="#"><i class="ri-eye-line"></i></a>
                <a href="#"><i class="ri-shopping-cart-line"></i></a>
            </div>
        </div>
        <div class="col">
            <div class="col-img">
                <img src="" onerror="this.onerror=null; this.src='gondorDefault.jpg'" >
            </div>
            <div class="col-icon">
                <a href="#"><i class="ri-heart-3-line"></i></a>
                <a href="#"><i class="ri-eye-line"></i></a>
                <a href="#"><i class="ri-shopping-cart-line"></i></a>
            </div>
        </div>
    </div>
</section>