<section class="newsletter">
    <div class="newsletter-content">
        <div class="newsletter-text">
            <h2>Ne ratez rien!</h2>
            <p>Inscrivez-vous avec votre adresse Email pour recevoir directement de nos nouvelles.</p>
        </div>
        <div>
            <form action="#">
                <input type="email" placeholder="Votre Email..." required>
                <input type="submit" value="S'inscrire" class="sign-in-btn">
            </form>
        </div>
    </div>
</section>