<header>
    <a href="#" class="logo">Gondor Chic</a>

    <ul class="navlist">
        <li><a href="#">Acceuil</a></li>
        <li><a href="#">Arrivages</a></li>
        <li><a href="#">Promotions</a></li>
        <li><a href="#">Produits</a></li>
        <li><a href="#">Contacts</a></li>
    </ul>

    <div class="nav-right">
        <a href="#"><i class="ri-search-2-line"></i></a>
        <a href="#"><i class="ri-shopping-cart-line"></i></a>
        <a href="#"><i class="ri-user-line"></i></a>
        <div class="bx bx-menu" id="menu-icon"></div>
    </div>
</header>