<body>
    <!-- header -->
        <app-header/>
    <!-- end header -->
    
    <!-- home -->
        <app-banner/>
        <!-- <app-personal-banner/> -->
    <!-- end home -->
    
    <!-- products -->
        <app-article-list/>
    <!-- end products -->
    
    <!-- features -->
        <!-- <app-features /> -->
    <!-- end features -->
    
    <!-- best selling -->
        <!-- <app-best-sellings /> -->
    <!-- end best selling -->
    
    <!-- newsletter -->
        <!-- <app-newsletters /> -->
    <!-- end newsletter -->
    
    <!-- footer -->
        <!-- <app-footer /> -->
    <!-- end footer -->
    
    <!-- copyright -->
        <app-copyright />
    <!-- end copyright -->
</body>