<section>
    <div class="center-text">
        <h2>Votre Panier</h2>
    </div>
    <div class="cart-container">
        <table class="cart-table">
            <thead>
            <tr>
                <th>Produits</th>
                <th></th>
                <th>Prix Unitaire</th>
                <th>Quantité</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><img src="gondorDefault.jpg" alt="Product 1" /></td>
                <td>Magic Wand</td>
                <td>GAr <span class="price">20</span></td>
                <td><span class="price">2</span></td>
                <td>GAr <span class="price">40</span></td>
            </tr>
            </tbody>
        </table>

        <div class="cart-summary">
            <p><strong>Total du panier : GAr <span class="price">75</span></strong></p>
            <button class="confirm-button">Confirmer Commande</button>
        </div>
    </div>
</section>