<section class="footer">
    <div class="footer-box">
        <h3>Company</h3>
        <a href="#">A propos</a>
        <a href="#">Offres</a>
        <a href="#">Travails</a>
        <a href="#">Carrière</a>
    </div>
    <div class="footer-box">
        <h3>FAQ</h3>
        <a href="#">Account</a>
        <a href="#">Offres</a>
        <a href="#">Travails</a>
        <a href="#">Carrière</a>
    </div>
    <div class="footer-box">
        <h3>Ressources</h3>
        <a href="#">Youtube Playlist</a>
        <a href="#">Offres</a>
        <a href="#">Travails</a>
    </div>

    <div class="footer-box">
        <h3>Réseaux sociaux</h3>
        <div class="social">
            <a href="#"><i class="ri-facebook-fill"></i></a>
            <a href="#"><i class="ri-instagram-fill"></i></a>
        </div>
    </div>
</section>