
<section class="n-product">
    <div class="center-text">
        <h2>Nos Produits</h2>
        @if(articles.length<=0){
            <h2>Chargement...</h2>
        }
    </div>

    <div class="n-content">
        @for (article of articles; track article.id) {
            <div class="row">
                <div class="row-img">
                    <img [src]="article.image" onerror="this.onerror=null; this.src='gondorDefault.jpg'" >
                </div>
                <h3>{{ article.label }}</h3>
                
                <!-- <div class="stars">
                    <a href=""><i class="ri-star-line"></i></a>
                    <a href=""><i class="ri-star-line"></i></a>
                    <a href=""><i class="ri-star-line"></i></a>
                    <a href=""><i class="ri-star-line"></i></a>
                    <a href=""><i class="ri-star-line"></i></a>
                    <a href="">Not noted yet</a>
                </div> -->
    
                <div class="row-in">
                    <div class="row-left">
                        <p>En stock : <span class="price">{{ article.quantityInStock }}</span></p>
                        @if (user==null) {
                            <a href="" (click)="$event.preventDefault(); openLoginPopup()">
                                Ajouter au panier
                                <i class="ri-shopping-cart-fill"></i>
                            </a>
                        }
                        @else {
                            <form action="">
                                <input class="price center-text" type="number" value="1" min="1" max="{{ article.quantityInStock }}"><br/>
                                <button class="btn" type="submit">Ajouter au panier<i class="ri-shopping-cart-fill"></i></button>
                            </form>
                        }
                    </div>
    
                    <div class="row-right">
                        <h6>GAr <span class="price">{{ article.price | number }}</span></h6>
                    </div>
                </div>
            </div>

        }
        <!-- <div class="row">
            <div class="row-img">
                <img src="" onerror="this.onerror=null; this.src='gondorDefault.jpg'" >
            </div>
            <h3>Sylvan Ring</h3>
            <div class="stars">
                <a href=""><i class="ri-star-line"></i></a>
                <a href=""><i class="ri-star-line"></i></a>
                <a href=""><i class="ri-star-line"></i></a>
                <a href=""><i class="ri-star-line"></i></a>
                <a href=""><i class="ri-star-line"></i></a>
                <a href="">Not noted yet</a>
            </div>

            <div class="row-in">
                <div class="row-left">
                    <a href="">
                        Ajouter au panier
                        <i class="ri-shopping-cart-fill"></i>
                    </a>
                </div>

                <div class="row-right">
                    <h6>GAr <span class="price">30.000</span></h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row-img">
                <img src="" onerror="this.onerror=null; this.src='gondorDefault.jpg'" >
            </div>
            <h3>Tauriel Daggers</h3>
            <div class="stars">
                <a href=""><i class="ri-star-line"></i></a>
                <a href=""><i class="ri-star-line"></i></a>
                <a href=""><i class="ri-star-line"></i></a>
                <a href=""><i class="ri-star-line"></i></a>
                <a href=""><i class="ri-star-line"></i></a>
                <a href="">Not noted yet</a>
            </div>

            <div class="row-in">
                <div class="row-left">
                    <a href="">
                        Ajouter au panier
                        <i class="ri-shopping-cart-fill"></i>
                    </a>
                </div>

                <div class="row-right">
                    <h6>GAr <span class="price">62.000</span></h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row-img">
                <img src="" onerror="this.onerror=null; this.src='gondorDefault.jpg'" >
            </div>
            <h3>Obsydian Ring</h3>
            <div class="stars">
                <a href=""><i class="ri-star-line"></i></a>
                <a href=""><i class="ri-star-line"></i></a>
                <a href=""><i class="ri-star-line"></i></a>
                <a href=""><i class="ri-star-line"></i></a>
                <a href=""><i class="ri-star-line"></i></a>
                <a href="">Not noted yet</a>
            </div>

            <div class="row-in">
                <div class="row-left">
                    <a href="">
                        Ajouter au panier
                        <i class="ri-shopping-cart-fill"></i>
                    </a>
                </div>

                <div class="row-right">
                    <h6>GAr <span class="price">45.000</span></h6>
                </div>
            </div>
        </div> -->
    </div>
    <!--
    <div class="n-btn">
        <a href="#" class="btn2">Voir tout</a>
    </div>
    -->

</section>